{% extends 'base.html.twig' %}

{% block body %}


    <div class="mega-wrapper">
    <nav class="navbar navbar-light bg-light static-top">
        <div class="container">
            <!-- Awful joke -->
            <a class="navbar-brand" href="#"><i class="fab fa-wpexplorer"></i> AllezPapa</a>
        </div>
    </nav>


    <header class="masthead text-white text-center">
        <div class="overlay"></div>
        <div class="container">
            <div class="row">
                <div class="col-xl-9 mx-auto">
                    <h1 class="mb-5">Add domains for free!</h1>
                </div>
                    <form>
                        <div class="form-row">
                            <div class="col-md-6 mx-auto col-md-offset-3 col-xs-10">
                                <input id="dom-name" class="form-control form-control-lg" placeholder="Add a domain">
                            </div>
                            <div class="col-12 col-xs-2" >

                                    <a id="dom-create" style="float:left" class=" btn btn-success"><i class="fa fa-plus"></i></a>

                            </div>
                        </div>
                        <div class="form-row row">


                                <div class="alert alert-danger dom-error col-md-6 mx-auto col-md-offset-3 col-xs-10" role="alert" style="display: none">
                                    <strong>Oh snap!</strong> <span href="#" class="dom-error-msg"></span>
                                </div>


                                <div class="alert alert-success dom-success col-12col-md-6 mx-auto col-md-offset-3 col-xs-10" role="alert" style="display: none">
                                    <strong>Success!</strong> <span href="#" class="dom-success-msg"></span>
                                </div>

                        </div>


                    </form>


            </div>

        </div>
    </header>

    <div class="container">

    <div class="row">

        <div class="col-xs-12">
            <h3 class="text-center"> Available Domains</h3>
        </div>
    </div>


    <div class="dom-container"></div>


        
    <div class="row">
    <div class="col-xs-12">
    <h3 class="attr-title"> </h3>
    </div>
    </div>


        <div class="table-header row  list-group-item-heading">
            <div class="col-xs-4">Name</div>
            <div class="col-xs-3">Type</div>
            <div class="col-xs-3">Value</div>
            <div class="col-xs-2">Actions</div>
        </div>
        <div class="details row list-group">

        </div>

        <div class="row">
            <div class="alert alert-danger col-xs-12 det-error" role="alert" style="display: none">
                <strong>Oh snap!</strong> <span href="#" class="det-error-msg"></span>
            </div>
        </div>

        <div class="row">
            <div class="alert alert-success col-xs-12 det-success" role="alert" style="display: none">
                <strong>Success!</strong> <span href="#" class="det-success-msg"></span>
            </div>
        </div>

        <div class="table-footer row">

            <div class="col-xs-4"><input id="det-name"  class="form-control form-control-lg"></input></div>
            <div class="col-xs-3"><input id="det-type"  class="form-control form-control-lg"></input></div>
            <div class="col-xs-3"><input id="det-value" class="form-control form-control-lg"></input></div>
            <div class="col-xs-2"><a id="det-create"><i class="fa fa-plus"></i></a></div>

        </div>


    </div>


    <div class="modal modal-dom fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-12"><label>Name <input class="form-control form-control-lg" id="dom-edit-name" ></input></label></div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" id="dom-edit">Save changes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>
    <div class="modal modal-det fade">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Edit Entry</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group col-xs-4"><label>Name <input class="form-control form-control-lg" id="det-edit-name" ></input></label></div>
                    <div class="form-group col-xs-4"><label>Type <input class="form-control form-control-lg" id="det-edit-type" ></input></label></div>
                    <div class="form-group col-xs-4"><label>IP   <input class="form-control form-control-lg" id="det-edit-value"></input></label></div>
                    <div class="clearfix"></div>
                </div>
                <div class="modal-footer">
                    <a type="button" class="btn btn-primary" id="det-edit">Save changes</a>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                </div>
            </div>
        </div>
    </div>



    </div>


    <!-- Footer -->
    <footer class="footer bg-primary">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 h-100 text-center text-lg-left my-auto">
                    <p class="text-muted small mb-4 mb-lg-0">&copy; Made with <i class="fas fa-laptop"></i>, <i class="far fa-heart"></i>, <i class="fas fa-coffee"></i>  and <i class="fas fa-music"></i>  </p>
                </div>

            </div>
        </div>
    </footer>

{% endblock %}

{% block javascripts %}

    <script>

    </script>

{% endblock %}